.main { 
  margin-top: 2%;
  height: 80%;
  display: flex;
  background-image: url('../../../../public/img/home/back.png');
  flex-wrap: wrap;
  justify-content: center;
}

.mainbtn { 
  width: 30%;
  height: 40%;
  margin: 1% 2% 1% 2%
}