.storygenrebtn {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-top: 3%;
  height: 55%;
}


.storygenrebtn a img{
  margin: 0%;
  height: 100%;
  width: 100%;
}