.a-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  padding: 0% 0% 0% 0%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  /* max-width: 700px; */
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a-modal-content .avatarinfo{
  height: 40%;
}

/* .a-close-button {
  position: absolute;
  right: 15%;
  bottom: 82%;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  width: 3%;
  height: 5%;
  font-size: 200%;
  font-weight: 900;
  cursor: pointer;
} */
.a-close-button {
  position: absolute;
  height: 0;
  width: 0;
  border: none;
  top: 0%;
  right: -1%;
  background: none;
  font-size: 200%;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.avatarlevel {
  display: flex;
  justify-content: space-around;
  height: 45%;
  margin-top: 2%;
}

.level {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* 레벨에 커서 추가 */
  opacity: 0.5; /* 기본적으로 잠긴 상태 */
  border-radius: 20px;
}

.level img{
  height: 75%;
}
.level.unlocked {
  opacity: 1; /* 열려 있는 레벨 */
}

.level.selected {
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(165, 151, 41, 0.4), 0 3px 6px rgba(252, 231, 60, 0.3); /* 선택된 레벨 강조 */
}

.rep-avatar-submit {
  /* position: absolute;
  right: 27%;
  bottom: 75%;
  margin-top: 10px;
  padding: 5px 10px;
  width: 8%; */
  height: 5%;
  font-size: 15px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
}

.avatarbtn {
  background: #FCE73C;
  font-family: 'SUIT-Regular';
  width: 30%;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 1vw;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
} 

 .levelbtn {
  width: 40%;
  height: 20%;
  background: #fff39b;

} 

.avatarbtn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.avatarbtn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.avatarsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}