.avatarexp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.expdetail {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  
}

.book{
  width: 20%;
  height: 50%;
}

.expdetail img {
  width: 100%;
  height: 100%;
}