.avatarexp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.expdetail {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 130%;
}

.ismodaldetail {
  width: 80%;
}

.book{
  width: 20%;
  height: 45%;
}

.expdetail img {
  width: 100%;
  height: 100%;
}

.avatarword {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarword h3 {
  font-size: 2vh;
  margin-top: 2%;
}

/* 이름 클릭 유도 스타일 */
.avatarlv {
  height: 30%;
  font-size: 1.6em;
}

.ismodalexp {
  font-size: 0.9vw ;
}

.ismodalexplv {
  font-size: 1.5vw;
}

.avatarlv.editable {
  cursor: pointer;
  transition: color 0.3s ease;
}

.avatarlv.editable:hover {
  color: blue; /* 마우스를 올리면 색상이 변하며 클릭 유도 */
}

.avatarlv input {
  font-size: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background: none;
}
