.avatarinfo {
  width: 90vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 3% 5% 1% 5%;
}

.infodetail {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.infodetail img {
  height: 100%;
}