.avatarinfo {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  margin: 3% 5% 1% 5%;
}

.infodetail {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.infodetail img {
  height: 100%;
}