.avatarinfo {
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  margin: 1% 5% 1% 2.5%;
  padding: 1% 2.5% 0% 2.5%;
}

.avatarinfo > h3 {
  font-size: 2em;
  height: 10%;

  align-items: start;
  text-align: start;
}

.infodetail {
  display: flex;
  justify-content: space-between;
  height: 90%;
  /* border: 2px solid pink; */

}

.avatarimg {
  width: 40%;
}

.avatardialog {
  width: 40%;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20%;
  font-family: 'MangoDdobak-B';
  animation: float 4s ease-in-out infinite;
}

.dialogdiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  height: 30%;
  animation: float 4s ease-in-out infinite;
}

.ismodal {
  font-size: 1.1em;
}

.ismodal img {
  height: 80%;
}


/* 말풍선이 원을 그리며 움직이는 애니메이션 */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}