.img-wrapper{
  margin-left: 13%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5%;
}

.img-upload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-nextbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 10%;
  margin-bottom: 5%;
}