.record-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
}

.record-left{
  display: flex; /* 내부 요소를 정렬하기 위해 flex 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 45%;
  height: 100%;
  background-color: rgb(255, 251, 241);
}

.record-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 95%;
  /* margin-left: 2%; */
  margin-top: 10%;
}