.storymodebtn{
  height: 100%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.storymodebtn a{
  width: 100%;
  height: 90%;
}

.storymodebtn a img {
  width: 100%;
  height: 100%;
}
