.card-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgb(255, 251, 241);
}

.card-image {
  flex: 4;
  min-width: 100%;
  min-height: 50%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 3%;
}

.card-story {
  flex: 4.5;
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  /* height: 100%; */
  overflow: hidden;
  padding-bottom: 0;
}

.card-storyline {
  /* flex: 1; */
  /* margin-top: 2%; */
  padding: 0% 3% 0% 3%;
  text-align: left;
  font-size: 110%;
  font-weight: 300;
  overflow-y: auto;
}

.card-tag-mic-container {
  flex: 1.5;
  display: flex;
  /* align-items: center; */
  width: 100%;
  overflow: hidden;
  /* margin: 0 3%; */
}

.tags-container {
  flex: 8.5;
  display: flex;
  overflow-x: auto;
  /* align-items: center; */
  /* position: relative; */
  /* height: fit-content; */
  /* padding-bottom: 10%; */
  /* margin-bottom: 5%; */
  overflow-y: hidden;
  margin-left: 3%;
  /* padding-top: 10px; */
  /* margin-right: 3%; */
}

.tags {
  display: flex;
  padding-bottom: auto;
  /* margin-bottom: 0; */
  padding-top: 4%;
  white-space: nowrap;
}

.tags-container .tags .hash {
  font-size: 120%;
  font-weight: 600;
}

.mic-container {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  height: 100%;
}

.card-record-listen {
  width: 100%;
  cursor: pointer;
}



.card-storyline::-webkit-scrollbar, .tags-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.card-storyline::-webkit-scrollbar-track, .tags-container::-webkit-scrollbar-track {
  background: none;
}

.card-storyline::-webkit-scrollbar-thumb, .tags-container::-webkit-scrollbar-thumb {
  background: rgb(255, 243, 213);
  border-radius: 10px;
}

.card-storyline::-webkit-scrollbar-thumb:hover, .tags-container::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 236, 190);
}


.card-reverse {
  margin-top: 3%;
  height: 6%;
}