.card-container {
  flex: 1;
  background-color: rgb(255, 251, 241);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-image {
  flex: 5;  /* 이미지 섹션 비율 유지 */
  width: 100%;
  max-height: 50%;
  margin-top: 5%;
}

.card-story {
  flex: 4;  /* 스토리라인 섹션 비율 유지 */
  display: flex;
  flex-direction: column;
  overflow: hidden;  /* 스크롤바가 내부에서만 발생하도록 처리 */
  height: 100%;
  padding: 10px;
}

.card-storyline {
  text-align: left;
  margin-top: 2%;
  font-size: 1.2rem;  /* 텍스트 크기 조정 */
  overflow-y: auto;  /* 세로 스크롤 활성화 */
  flex: 1;  /* 이 요소가 가능한 모든 공간을 사용하도록 설정 */
}

.card-tag-mic-container {
  flex: 1;  /* 태그와 마이크 이미지 섹션 비율 유지 */
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 3%;
}

.tags-container {
  width: 90%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: fit-content;
  padding-bottom: 1%;
  margin-right: 3%;
}

.tags {
  display: flex;
  white-space: nowrap;
  font-size: 0.8rem;
}

.mic-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.card-record-listen {
  width: 100%;
  cursor: pointer;
}

/* .community-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
} */
