.minicard {
  width: 20vw;
  height: 20vw;
  margin: 2% 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minicardimg {
  background-color: pink;
  width: 80%;
  height: 80%;

  cursor: pointer;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  
}

/* .hash {
  margin-top: 4%;
}

.minicard:hover {
  opacity: 0.7;
} */

.minicard:hover .minicardimg {
  opacity: 0.7;
}
