.pausebtn {
  text-align: end;
  height: 15%;
  /* background-color: aqua; */
  width: 100%;
  margin: 0%;
  
}

.pausebtn > button {
  background-color: white;
  border: none;
  height: 80%; 
  width: 10%; 
  top: 3%;
  right: 3%; 
  padding: 0%;
}

.pausebtn img {
  height: 100%; 
}

