.community-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.profile-image-container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 80%;
  height: auto;
  border-radius: 50%; 
}

.author, .date {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
} 

.date {
  color: #888;
}

.action-button {
  display: flex;
  width: 50%;
  height: 30%;
}

.comments-section {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.comment-input-container {
  flex: 1;
}

.comment-input-container form{
  display: flex;
}

.comment-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #777;
}

.comments-list {
  flex: 9;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  height: 100%;
}

.submit-comment-button {
  border: none;
  cursor: pointer;
}
  
.emojis-section {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.emoji img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.emoji p {
  margin-top: 5%;
  text-align: center; 
}

.emoji img:hover {
  opacity: 0.8; 
}



.comment-item {
  min-height: 10%;
  max-height: 10%;
  display: flex;
  flex: 1;
}

.comment-content {
    flex: 1;
}

.comment-actions {
    display: flex;
}