.sns-detail {
  /* text-align: center;
  padding: 20px;
  z-index: 2000; */
}

.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  /* display: flex; */
  /* padding: 20px; */
  border-radius: 20px;
  width: 80%;
  height: 90%;
  background-color: white;
}

.close-button {
  position: absolute;
  height: 0;
  width: 0;
  border: none;
  top: 0%;
  right: -1%;
  background: none;
  font-size: 200%;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.modal-body {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
  
.card-container,
.community-container {
    flex: 1 1 50%;
    min-width: 50%;
    max-width: 50%;
}