.navbar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  box-shadow: 0px 5px 5px 5px lightgrey ;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  height: 15vh;
}

.logo{
  flex: 0 1 auto;
}

.logo img{
  height: 100%;
  width: 100%;
}

.menus {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-left: 7%;
  padding-right: 7%;
}

.menus a {
  height: 100%;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
}

@keyframes pulse-shrink {
  to {
    transform: scale(.9);
  }
}

.pulse-shrink {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse-shrink:hover {
    animation-name: pulse-shrink;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
