.audio-play-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.audio-play-modal-content {
    position: relative;
    background: white;
    padding: 20px; /* 상단 공간 확보를 위해 조정할 수 있음 */
    padding-top: 40px; /* 닫기 버튼과 겹치지 않도록 충분한 상단 패딩 제공 */
    border-radius: 5px;
    width: auto; /* 너비 자동 조정 */
    min-width: 25%; /* 최소 너비 설정 */
    max-width: 25%; /* 최대 너비 설정 */
    min-height: 20%; /* 최소 높이 설정 */
    max-height: 20%; /* 최대 높이 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
}

.audio-play-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
}

.audio-play-controls {
    width: 100%; /* 전체 너비 사용 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 중앙 정렬 */
}

.audio-play-btn, .audio-time-display, .audio-play-slider {
    width: 100%; /* 전체 너비 사용 */
}

.audio-play-slider {
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, yellow 0%, yellow 50%, #ffff99 50%); /* 연노랑색 적용 */
}

.audio-play-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: yellow;
    cursor: pointer;
}
