.guide-box {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-box > .guide { 
  height: 80%;
  margin: 0%;
  display: flex;
  align-items: center;
  gap: 1%; /* gap 속성을 사용하여 아바타와 말풍선 사이의 간격을 조정 */
  position: relative;
  z-index: 1;
}

.speechbubble-img {
  height: 100%;
  z-index: 1;
}

.speechbubble-avatar {
  height: 130%;
  z-index: 2; /* 아바타가 말풍선 위에 오도록 설정 */
}

.guide-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: 'MangoDdobak-B';
  font-size: 3vh;
  white-space: pre-line;
  line-height: 1.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
