.guide-box{
  /* background-color: greenyellow; */
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-box > .guide { 
  height: 80%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.speechbubble-img {
  height: 100%;
  position: absolute;
} 

.guide-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* word-wrap: break-word; */
  position: relative;
  z-index: 1;
  font-family: 'MangoDdobak-B';
  font-size: 3vh;
} 