.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* 배경 투명도 설정 */
  z-index: 1000; /* 다른 요소들보다 위에 오도록 설정 */
}

.loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 모달 중앙 정렬 */
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.loading-content h2 {
  margin: 0;
  padding: 10px 0;
}
