.circlebtn-ver3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
  }
  
  .round-button2 {
    width: 60%;
    height: 60%;
    background-color: rgb(72, 255, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  .record-img {
    width: 50%;
    height: 50%;
  }
  
  .round-button:hover {
    background-color: yellowgreen;  /* 마우스 오버 시 배경색 변경 */
  }