.myworldimgupdate {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 7%;
  height: 7%;
  background-color: #FCE73C;
  transition: 3s;
  text-align: center;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.worldimgedit {
  position: relative;
  top: 40%;
  left: -2%;
  width: 150%;
  height: 1170%;
  background-color: #fcf7d6;
  z-index: 1000;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  opacity: 0;
  transform: scale(0);
  border-radius: 10px;
  overflow-y: scroll;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.worldimgedit::-webkit-scrollbar {
  width: 10px;  
}

.worldimgedit::-webkit-scrollbar-thumb {
  background: #FCE73C; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.worldimgedit::-webkit-scrollbar-track {
  background: rgba(49, 45, 16, 0.342);  /*스크롤바 뒷 배경 색상*/
  border-radius: 30px;
}
.worldimgedit.show {
  opacity: 1;
  transform: scale(1);
}
.editimgmenu {
  width: 80%;
  height: 20%;
  margin: 5% 5%;
  background-color: #faf0a1;
}

.editimgmenu img{
  width: 100%;
}

.imgsubmitBtn {
  background: #FFA8A8;
  font-family: 'SUIT-Regular';
  position: absolute;
  width: 90%;
  height: 130%;
  top: 1175%;
  left: 160%;
  height: 130%;
  z-index: 100;
  font-weight: 900;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  display : flex;
  justify-content : center;
  align-items : center;
}

.imgsubmitBtn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.imgsubmitBtn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


.checked {
  background-color: rgb(135, 207, 129);
}