.storyworld {
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.myworlddiv {
  width: 90%;
  min-height: 500px;
  height: 100%;
  margin: 0% 5%;

}

.minicardlistdiv {
  height: 100%;
  margin: 3% 5%;
}

.minicardlistdiv > h3 {
  height: 10%;
}